*.sqlite
*.db*
*.bin
userdata*
server.jar
*paper*.jar
/*cache
logs/
tmp/
*.data
/libraries
/world*
*.propeties
!server.propeties
!vi_VN.propeties
.console_history
usercache.json
plugins/Auto-Tune/web/data/data.csv
plugins/Essentials/usermap.csv
plugins/ProtocolLib/lastupdate
