*.sqlite
*.db*
*.bin
userdata*
server.jar
*paper*.jar
*cache*
*logs/
*tmp/
*.data
lib*/
[wW]orld*/*
plugins/LuckPerms/config.yml
*.propeties
.console_history
usercache.json
.archive-unpack/
[lL]ang*/

!server.propeties
*/usermap.csv
lastupdate
plugins/Essentials/usermap.csv
*userdata/
!*/config.yml
!/world/datapacks/
wepif.yml
plugins/nCore/dependencies/relocated/nlogin/*
plugins/Lottery/data.yml
