*.sqlite
*.db*
*.bin
userdata*
server.jar
*paper*.jar
/*cache
*logs/
*tmp/
*.data
/libraries
/world*
*.propeties
!server.propeties
!vi_VN.propeties
.console_history
usercache.json
*/usermap.csv
*/lastupdate
*userdata/
*config.yml
